.theme-8008 {
  --color-bg-primary: #3c4756;
  --color-bg-typing: #a2aebd;
  --color-bg-input: #adbac9;
  --color-bg-redo: #3c4756;

  --color-text-header: #f44c7f;
  --color-text-typing: theme('colors.black');
  --color-text-inverse: theme('colors.white');
  --color-text-current: theme('colors.black');
  --color-text-correct: theme('colors.green.600');
  --color-text-wrong: theme('colors.red.600');
  --color-text-stats: #f44c7f;
  --color-text-nav: theme('colors.white');
  --color-text-redo: theme('colors.red.500');
  --color-text-display: theme('colors.red.500');

  --color-placeholder-input: theme('colors.black');
  
  --color-border-primary: #a2aebd;
}