.theme-bento {
  --color-bg-primary: theme('colors.black');
  --color-bg-typing: #333333;
  --color-bg-input: theme('colors.black');
  --color-bg-redo: theme('colors.black');
  --color-bg-redo-hover: theme('colors.red.500');
  --color-text-primary: theme('colors.white');
  --color-text-secondary: theme('colors.white');
  --color-text-current: theme('colors.white');
  --color-text-correct: theme('colors.green.400');
  --color-text-wrong: theme('colors.red.400');
  --color-text-stats: theme('colors.white');
  --color-text-nav: theme('colors.red.500');
  --color-placeholder-primary: theme('colors.white');
}