.theme-carbon {
  --color-bg-primary: #575d5e;
  --color-bg-typing: #e3d9c6;
  --color-bg-input: #c9c0af;
  --color-bg-redo: #ed6b21;

  --color-text-header: #e3d9c6;
  --color-text-typing: #575d5e;
  --color-text-inverse: theme('colors.white');
  --color-text-current: #575d5e;
  --color-text-correct: theme('colors.green.700');
  --color-text-wrong: #ed6b21;
  --color-text-stats:  #ed6b21;
  --color-text-nav:  #ed6b21;
  --color-text-redo: #575d5e;
  --color-text-display: #ed6b21;

  --color-placeholder-input: #575d5e;

  --color-border-primary: #ed6b21;
}