.theme-dark {
  --color-bg-primary: theme('colors.black');
  --color-bg-typing: #333333;
  --color-bg-input: theme('colors.black');
  --color-bg-redo: theme('colors.black');
  --color-bg-spotify: theme('colors.black');
  --color-bg-spotifySaveColor: #1DB954;
  --color-bg-spotifySlider: theme('colors.blue.700');
  --color-bg-spotifySliderTrack: theme('colors.gray.500');
  --color-bg-spotifyControls: theme('colors.white');

  --color-text-header: theme('colors.white');
  --color-text-typing: theme('colors.white');
  --color-text-inverse: theme('colors.white');
  --color-text-current: theme('colors.white');
  --color-text-correct: theme('colors.green.400');
  --color-text-wrong: theme('colors.red.400');
  --color-text-stats: theme('colors.white');
  --color-text-nav: theme('colors.red.500');
  --color-text-redo: theme('colors.white');
  --color-text-display: theme('colors.white');
  --color-text-spotifyTrackName: theme('colors.white');
  --color-text-spotifyTrackArtist: theme('colors.gray.400');

  --color-placeholder-input: theme('colors.white');

  --color-border-primary: theme('colors.white');
}