.theme-lime {
  --color-bg-primary: #7e898f;
  --color-bg-typing: #c0cdd5;
  --color-bg-input: #7e898f;
  --color-bg-redo: #96c35a;
  
  --color-text-header: #96c35a;
  --color-text-typing: theme('colors.white');
  --color-text-inverse: theme('colors.white');
  --color-text-current: theme('colors.black');
  --color-text-correct: theme('colors.green.400');
  --color-text-wrong: theme('colors.red.400');
  --color-text-stats:  #96c35a;
  --color-text-nav: theme('colors.white');
  --color-text-redo: theme('colors.white');
  --color-text-display: #96c35a;

  --color-placeholder-input: theme('colors.white');

  --color-border-primary: #96c35a;
}