.theme-nautilus2 {
  --color-bg-primary: #102c4e;
  --color-bg-typing: #155d94;
  --color-bg-input: #102c4e;
  --color-bg-redo: #eac004;
  
  --color-text-header: #eac004;
  --color-text-typing: theme('colors.white');
  --color-text-inverse: theme('colors.white');
  --color-text-current: #eac004;
  --color-text-correct: theme('colors.green.500');
  --color-text-wrong: theme('colors.red.500');
  --color-text-stats: #eac004;
  --color-text-nav: theme('colors.white');
  --color-text-redo: #102c4e;
  --color-text-display: #eac004;

  --color-placeholder-input: theme('colors.white');

  --color-border-primary: #155d94;
}