.theme-redsuns {
  --color-bg-primary: #2f3334;
  --color-bg-typing: #602d3a;
  --color-bg-input: #2f3334;
  --color-bg-redo: #2f3334;
  
  --color-text-header: #a89257;
  --color-text-typing: theme('colors.white');
  --color-text-inverse: theme('colors.white');
  --color-text-current: #a89257;
  --color-text-correct: theme('colors.green.500');
  --color-text-wrong: theme('colors.red.500');
  --color-text-stats: theme('colors.white');
  --color-text-nav: #602d3a;
  --color-text-redo: #a89257;
  --color-text-display: #602d3a;

  --color-placeholder-input: theme('colors.white');

  --color-border-primary: #602d3a;
}