.theme-striker {
  --color-bg-primary: #26679f;
  --color-bg-typing: #3a5e96;
  --color-bg-input: 3b4b63;
  --color-bg-redo: theme('colors.white');
  
  --color-text-header: theme('colors.white');
  --color-text-typing: theme('colors.white');
  --color-text-inverse: theme('colors.white');
  --color-text-current: theme('colors.white');
  --color-text-correct: theme('colors.green.500');
  --color-text-wrong: theme('colors.red.500');
  --color-text-stats: theme('colors.white');
  --color-text-nav: theme('colors.red.500');
  --color-text-redo: #26679f;
  --color-text-display: theme('colors.white');

  --color-placeholder-input: theme('colors.white');

  --color-border-primary: #36c1f6;
}