.theme-yuri {
  --color-bg-primary: #CD6C8F;
  --color-bg-typing: #34657F;
  --color-bg-input: #97afc2;
  --color-bg-redo: #97afc2;
  --color-bg-redo-hover: theme('colors.red.500');

  --color-text-header: #34657F;
  --color-text-typing: #FF808B;
  --color-text-inverse: theme('colors.white');
  --color-text-current: theme('colors.white');
  --color-text-correct: theme('colors.green.400');
  --color-text-wrong: #F6BD9D;
  --color-text-stats: theme('colors.white');
  --color-text-redo: theme('colors.white');
  --color-text-nav: theme('colors.white');
  --color-text-redo: theme('colors.white');
  --color-text-display: #34657F;

  --color-placeholder-input: #293649;

  --color-border-primary: #34657F;
}