.vscode
.DS_Store

frontend/.cache
frontend/public
frontend/node_modules
frontend/.*
frontend/.*/
frontend/yarn.lock

api/.*
api/env
api/songs/__pycache__
api/songs/migrations
api/typenvibe/__pycache__